h2 {
  color: #83D95B;
  font-size: 48px;
  margin: 0;
}

.portal__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portal__message-list {
  list-style-type: none;
  max-height: 300px;
  overflow: auto;
  white-space: pre-line;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  margin: 10px auto;
  border: 2px solid #6DD93B;
  color: #D7D7D9;
}

.portal__message-list > li:nth-child(even) {
  border-top: 1px solid #D7D7D9;
  border-bottom: 1px solid #D7D7D9;
}

.portal__message-list > li {
  width: 98%;
  margin: 0 auto;
  padding: 5px 0;
}

.portal__message-list > li > p {
  font-size: 12px;
  word-wrap: break-word;
}

.portal__close-session {
  background-color: #83D95B;
  color:#3E3740;
  border: 2px solid #6DD93B;
  border-radius: 10px;
  padding: 6px;
}

.portal__empty-messages {
  color: #D7D7D9;
  margin: 24px auto;
}

.portal__gate-form {
  color: #D7D7D9;
}

.portal__gate-form > label > input {
  margin-left: 5px;
}

.portal__error {
  text-align: center;
  color: red;
}