.portal__form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  margin: 5px;
  color: #D7D7D9;
}

.portal__form > button {
  background-color: #3E3740;
  color: #D7D7D9;
  width: 90%;
  margin: 20px auto;
  border: 2px solid #6DD93B;
  border-radius: 10px;
  padding: 10px;
}

.portal__form > label {
  width: 98%;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.portal__form > label > select, 
.portal__form > label > input {
  background-color: #D7D7D9;
  width: 98%;
  margin-top: 5px;
  text-align: center;
  text-align-last: center;
  border: 2px solid #D7D7D9;
  border-radius: 5px;
}

.portal__form > label > select:focus, 
.portal__form > label > input:focus {
  outline: unset;
  box-shadow: 0 0 3pt 2pt #6DD93B;
}

.portal__form--password-container {
  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
label.portal__form--checkbox, input.portal__form--checkbox {
  margin: 10px;
}

.portal__form--error {
  color: red;
}