.portal__form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: white;
}

.portal__form > button {
  background-color: white;
}

.portal__form > label > select, input {
  background-color: white;
}