html {
  background-color: #3e3740;
  min-height: 100vh;
}

footer {
  margin-top: 25%;
  background-color: #d7d7d9;
  width: 100%!important;
  padding: 5px 0;
}

.App {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  padding: 0 10px;
}

.App-link {
  color: #09d3ac;
}

h1 {
  color: #d7d7d9;
  font-size: 64px;
  border-bottom: 5px solid #6dd93b;
  display: inline;
}

.App-header {
  margin: 50px auto;
}
.App-header > a {
  color: #6dd93b;
  text-decoration: none;
}

.App__error {
  text-align: center;
  color: red;
}

.App__footer {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

.App__footer > li {
  color: #3e3740;
  font-size: 12px;
}

.App__footer > li > a {
  text-decoration: none;
  color: #3e3740;
}

.App__footer > li > a:hover {
  color: #6dd93b;
}

@media screen and (min-width: 768px) {
  html {
    /* width: 80%; */
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 88px;
  }
}
