html {
  background-color: #3E3740;
  min-height: 100vh;
}

.App {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  padding: 0 10px;
}

.App-link {
  color: #09d3ac;
}

h1 {
  color: #D7D7D9;
  font-size: 64px;
}

a {
  color: #6DD93B;
}

.App__error {
  text-align: center;
  color: red
}